/* *{
  margin: 0;
  padding:  0;
  box-sizing: border-box;
}
body,html{
  height: 100vh;
  width: 100%;
} */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0077b6;
  padding: 15px 30px;
}

.nav-logo {
  height: 50px;
  cursor: pointer;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin: 0 15px;
  position: relative;
}

.nav-list li a, .dropdown-toggle {
  text-decoration: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
}

.nav-list li a:hover, .dropdown-toggle:hover {
  color: #fca311;
}

/* Dropdown Menu */
.dropdown-menu {
  position: absolute;
  top: 40px;
  left: 0;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 150px;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  padding: 10px;
  color: #0077b6;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}

.dropdown-menu li a:hover {
  background: #0077b6;
  color: white;
}